<!DOCTYPE html>
<html>
<head>
    <title>Closed Eye Detection</title>
</head>
<body>
    <h1>Closed Eye Detection</h1>
    <form action="/closed_eye" method="post" enctype="multipart/form-data">
        <input type="file" name="closed_eye_file" accept=".jpg, .jpeg, .png" required>
        <button type="submit">Detection</button>
    </form>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li style="color: {% if 'danger' in message %}red{% elif 'success' in message %}green{% elif 'warning' in message %}orange{% else %}black{% endif %};">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

</body>
</html>