/* Custom styles for demonstration */
body {
    padding-top: 70px;
    margin-bottom: 70px;
  }
  
  .header {
    background-color: #343a40;
    padding: 20px;
    color: white;
  }
  
  .circular-container {
    text-align: center;
  }
  
  .circular-section {
    display: inline-block;
    width: 150px; /* Reduce the width to make the sections smaller */
    height: 150px; /* Reduce the height accordingly */
    border-radius: 50%;
    background-color: #ccc;
    text-align: center;
    padding: 20px;
    margin: 10px 10px;
  }
  
  .circular-section h2 {
    font-size: 1.5em;
  }
  
  .footer {
    background-color: #343a40;
    color: white;
    padding: 10px;
  }
  
  /* Add any additional custom styles to styles.css */
  